<div class="input-group mb-3" style="width:300px; margin:auto">
<input name="word" type="text" id="searchWord" class="form-control" placeholder="love"
aria-label="Small" aria-describedby="inputGroup-sizing-sm">
<div class="input-group-append">
  <button class="btn btn-outline-secondary" type="button" onClick="searchWord()">Search</button>
</div>
</div>
<div id="plot">
  <div id="spinner" style="width:40">
  </div>
</div>
<script>

  var margin = 30;
  var w = 550, h = 450 - 2 * margin;

  var svg = d3.select('#plot').append("svg")
            .attr("width", w)
            .attr("height", h + 2*margin)
            .append("svg:g")
            .attr("transform", "translate(" + 2*margin + ", " + margin + ")");

            var opts = {
              lines: 9, // The number of lines to draw
              length: 7, // The length of each line
              width: 4, // The line thickness
              radius: 10, // The radius of the inner circle
              color: '#004e6b', // #rgb or #rrggbb or array of colors
              speed: 1.9, // Rounds per second
              trail: 40, // Afterglow percentage
              className: 'spinner', // The CSS class to assign to the spinner
            };

  function searchWord()
  {
    word = document.getElementById("searchWord").value;
    console.log("Search Word:", word);
    d3.select("#line-id").remove();
    d3.selectAll(".x.axis").remove();
    d3.selectAll(".y.axis").remove();
    d3.selectAll(".label").remove();
    d3.selectAll(".area").remove();
    var spinner = new Spinner(opts).spin(document.getElementById("spinner"));
    setTimeout(function(){
        console.log('after');
        spinner.stop();
        word_line_charts(word);
      }, 2000);
  }

  function word_line_charts(word){
    console.log(word);
    d3.json("data/"+word, load_data);

    function load_data(data){
      console.log(data);
      data = data[word];
      line_chart(data, word);
    };
  }

  function line_chart(data, word){
    WIDTH = 1000,
    HEIGHT = 500,
    MARGINS = {
      top: 20,
      right: 20,
      bottom: 20,
      left: 20
    }

    //X and Y axis
    xRange = d3.scale.linear().range([0, w]).domain([d3.min(data, function(d) {
     return Object.keys(d)[0];
   }), d3.max(data, function(d) {
     return Object.keys(d)[0];
   })]),
   yRange = d3.scale.linear().range([h, 0]).domain([d3.min(data, function(d) {
     return d[Object.keys(d)[0]];
   }), d3.max(data, function(d) {
     return d[Object.keys(d)[0]];
   })]),
   xAxis = d3.svg.axis()
     .scale(xRange)
     .tickSize(4)
     .orient("bottom"),
   yAxis = d3.svg.axis()
     .scale(yRange)
     .tickSize(4)
     .orient("left");

     svg.append('svg:g')
    .attr('class', 'x axis')
    .attr("transform", "translate(0, " + h  + ")")
    .call(xAxis);

    svg.append('svg:g')
    .attr('class', 'y axis')
    .call(yAxis);

    var area = d3.svg.area()
    .x(function(d) {
      return xRange( Object.keys(d)[0]);
    })
    .y0(h)
    .y1(function(d) {
      return yRange(d[Object.keys(d)[0]]);
    });

    var lineFunc = d3.svg.line()
   .x(function(d) {
     return xRange( Object.keys(d)[0]);
   })
   .y(function(d) {
     return yRange(d[Object.keys(d)[0]]);
   });

   svg.append('svg:path')
   .attr('d', lineFunc(data))
   .attr('stroke', '#69b8d6')
   .attr('stroke-width', 4)
   .attr('fill', 'none')
   .attr("id", "line-id");

   svg.append('svg:path')
   .attr('d', area(data))
   .attr('fill', '#daeffe')
   .attr("class", "area");

   // text label for the x axis
     svg.append("text")
     .attr("transform",
          "translate(" + (w/2) + " ," +
                         (h+margin) + ")")
    .attr("class", "label")
    .style("text-anchor", "middle")
    .text("Years");

    // text label for the y axis
    svg.append("text")
    .attr("transform", "rotate(-90)")
    .attr("y",0-2*margin)
    .attr("x",0-h/2)
    .attr("dy", "1em")
    .attr("class", "label")
    .style("text-anchor", "middle")
    .text("Count of word \""+word+"\"");
  }

  word_line_charts("love")
</script>
