<div style="margin:30px; text-align:center;">
  <h1 style="color:steelblue">Analysis of Social Trends through Lyrics</h1>
</div>
<div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="./">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="./line">Yearwise Word Trends</a>
    <a class="nav-item nav-link" href="./word_cloud">Classify</a>
  </div>
</div>
</nav>
</div>
