<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="./">Home <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="./line">Yearwise Word Trends</a>
    <a class="nav-item nav-link" href="./word_cloud">Popular Words</a>
    <a class="nav-item nav-link" href="./similarity">Similarity in Artists</a>
  </div>
</div>
</nav>
    </div>
    <div id="info" style="margin:auto; padding:20px">
        <div id="point-info">
            <b>Category for Popular Words</b>
            <br>
            <br>
            <select></select>
            <button class="btn btn-secondary btn-sm" onClick="document.location.reload(true)">Reload</button>
        </div>
    </div>
  <div id = "word_cloud" style="width:35%; margin:auto; ">
    <h1 id="category" style="color:#004e6b; margin:auto; text-align:center"></h1>
    <br/>
  </div>
  <script>

//Simple animated example of d3-cloud - https://github.com/jasondavies/d3-cloud
//Based on https://github.com/jasondavies/d3-cloud/blob/master/examples/simple.html

const dropdownOptions=[{name:'Select a category',value:'*'},
{name:'Genre wise',value:'genre'},
{name:'Decade wise',value:'decade'}]
    var dropdown = d3.select("select").attr("id", "ddSel");
    var options = dropdown.selectAll("option").data(dropdownOptions)
    options.enter()
            .append("option")
            .text(function(d){return d.name})
            .attr("value", function (d) {return d.value});

    dropdown.on("change",function(){
      var sect = document.getElementById("ddSel");
      var value = sect.options[sect.selectedIndex].value;
      console.log("Chart:"+value);
      changeIt(value)
    })

// Encapsulate the word cloud functionality
function wordCloud(selector) {

    var fill = d3.scale.category20();

    //Construct the word cloud's SVG element
    var svg = d3.select(selector).append("svg")
        .attr("width", 500)
        .attr("height", 500)
        .append("g")
        .attr("transform", "translate(250,250)");

    //Draw the word cloud
    function draw(words) {
        var cloud = svg.selectAll("g text")
                        .data(words, function(d) { return d.text; })

        //Entering words
        cloud.enter()
            .append("text")
            .style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr('font-size', 1)
            .text(function(d) { return d.text; });

        //Entering and existing words
        cloud
            .transition()
                .duration(600)
                .style("font-size", function(d) { return d.size + "px"; })
                .attr("transform", function(d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .style("fill-opacity", 1);

        //Exiting words
        cloud.exit()
            .transition()
                .duration(200)
                .style('fill-opacity', 1e-6)
                .attr('font-size', 1)
                .remove();
    }


    //Use the module pattern to encapsulate the visualisation code. We'll
    // expose only the parts that need to be public.
    return {

        //Recompute the word cloud for a new set of words. This method will
        // asycnhronously call draw when the layout has been computed.
        //The outside world will need to call this function, so make it part
        // of the wordCloud return value.
        update: function(words) {
            d3.layout.cloud().size([500, 500])
                .words(words)
                .padding(5)
                .rotate(function() { return ~~(Math.random() * 2) * 90; })
                .font("Impact")
                .fontSize(function(d) { return d.size; })
                .on("end", draw)
                .start();
        }
    }

}

//Prepare one of the sample sentences by removing punctuation,
// creating an array of words and computing a random size attribute.
function getWords(data) {
  console.log(Object.keys(data));
  var keys = Object.keys(data);
  return keys
          .map(function(d) {
              return {text: d, size: data[d]};
          })
}

//This method tells the word cloud to redraw with a new set of words.
//In reality the new words would probably come from a server request,
// user input or some other source.
function showNewWords(vis, category, data) {
  var values = Object.keys(data);
  repeatWords();
  function repeatWords(i)
  {
    i = i || 0;
    document.getElementById('category').innerHTML = category+": "+values[i%values.length];
    vis.update(getWords(data[values[i%values.length]]))
    setTimeout(function() { repeatWords(i + 1)}, 4000)
  }

}

function changeIt(category)
{
  if(category != "*")
  {
    d3.json("wordcloud/"+category, load_data);

    function load_data(data)
    {
      console.log(data);
      //Create a new instance of the word cloud visualisation.
      var myWordCloud = wordCloud(document.getElementById('word_cloud'));

      //Start cycling through the demo data
      showNewWords(myWordCloud, category, data);
    }
  }
  else {
    document.location.reload(true);
  }

}
//Initial display
//Create a new instance of the word cloud visualisation.
//var myWordCloud = wordCloud(document.getElementById('word_cloud'));

//Start cycling through the demo data
//showNewWords(myWordCloud, "genre");


</script>
